.u-bg-primary { background-color: $primary !important; }
.u-bg-accent { background-color: $accent !important; }
.u-bg-neutral { background-color: $neutral !important; }
.u-bg-positive { background-color: $positive !important; }
.u-bg-negative { background-color: $negative !important; }
.u-bg-warning { background-color: $warning !important; }
.u-bg-black { background-color: $black !important; }
.u-bg-white { background-color: $white !important; }
.u-bg-grey { background-color: $grey !important; }
.u-bg-dark-grey { background-color: $dark-grey !important; }
.u-bg-light-grey { background-color: $light-grey !important; }
.u-bg-facebook { background-color: $facebook !important; }
.u-bg-twitter { background-color: $twitter !important; }
.u-bg-google-plus { background-color: $google-plus !important; }
.u-bg-youtube { background-color: $youtube !important; }
.u-bg-instagram { background-color: $instagram !important; }
.u-bg-linkedin { background-color: $linkedin !important; }
.u-bg-pinterest { background-color: $pinterest !important; }
