.u-bs-0 { box-shadow: none !important; }
.u-bs-1 { box-shadow: 0 0 .1em rgba($black, .1) !important; }
.u-bs-2 { box-shadow: 0 0 .4em rgba($black, .1) !important; }
.u-bs-3 { box-shadow: 0 0 .6em rgba($black, .12) !important; }
.u-bs-4 { box-shadow: 0 0 .9em rgba($black, .16) !important; }
.u-bs-4 { box-shadow: 0 0 1.2em rgba($black, .2) !important; }
