.u-c-primary { color: $primary !important; }
.u-c-accent { color: $accent !important; }
.u-c-neutral { color: $neutral !important; }
.u-c-positive { color: $positive !important; }
.u-c-negative { color: $negative !important; }
.u-c-warning { color: $warning !important; }
.u-c-black { color: $black !important; }
.u-c-white { color: $white !important; }
.u-c-grey { color: $grey !important; }
.u-c-dark-grey { color: $dark-grey !important; }
.u-c-light-grey { color: $light-grey !important; }
.u-c-facebook { color: $facebook !important; }
.u-c-twitter { color: $twitter !important; }
.u-c-google-plus { color: $google-plus !important; }
.u-c-youtube { color: $youtube !important; }
.u-c-instagram { color: $instagram !important; }
.u-c-linkedin { color: $linkedin !important; }
.u-c-pinterest { color: $pinterest !important; }
